/* general */


/* header */
header {
    position:;
}

/* Sidebar */
#menu-toggle {
    position: fixed;
    left: -5px;
    padding: 20px 10px;
    z-index: 2;
}

#sidebar-wrapper {
    position: fixed;
    z-index: -5;
}
