<%-include ../partials/head.ejs%>
<%-include ../partials/nav.ejs%>

<p>Choisissez vos compétences et valeurs : Valeur entre 0 et 100</p>
<div class="container">
  <div class="col-lg-3">

<form class="" action="/comp" method="post">
  <br>Compétence 1 : <input type="number" name="comp1" class="form-control"  placeholder="Voter entre 0 et 100" value="" max="100" min="0">
  <br>Compétence 2 : <input type="number" name="comp2" class="form-control"  placeholder="Voter entre 0 et 100" value="" max="100" min="0">
  <br>Compétence 3 : <input type="number" name="comp3" class="form-control"  placeholder="Voter entre 0 et 100" value="" max="100" min="0">
  <br>Compétence 4 : <input type="number" name="comp4" class="form-control"  placeholder="Voter entre 0 et 100" value="" max="100" min="0">
  <br>Compétence 5 : <input type="number" name="comp5" class="form-control"  placeholder="Voter entre 0 et 100" value="" max="100" min="0">
  <br>Compétence 6 : <input type="number" name="comp6" class="form-control"  placeholder="Voter entre 0 et 100" value="" max="100" min="0">
  <br>Compétence 7 : <input type="number" name="comp7" class="form-control"  placeholder="Voter entre 0 et 100" value="" max="100" min="0">
  <br>Compétence 8 : <input type="number" name="comp8" class="form-control"  placeholder="Voter entre 0 et 100" value="" max="100" min="0">
  <br>Compétence 9 : <input type="number" name="comp9" class="form-control"  placeholder="Voter entre 0 et 100" value="" max="100" min="0">
  <br>Compétence 10 : <input type="number" name="comp10" class="form-control"  placeholder="Voter entre 0 et 100" value="" max="100" min="0">
  <br><button type="submit" name="submitCompValue">Submit</button>
</form>

</div>
</div>

<%-include ../partials/footer.ejs%>
