<%-include ../partials/head.ejs%>
<%-include ../partials/nav.ejs%>

<p>Choisissez vos compétences et valeurs : Valeur entre 0 et 100</p>

<form class="" action="index.html" method="post">
  <br>Compétence 1 : <input type="number" name="" value="" max="100" min="0">
  <br>Compétence 2 : <input type="number" name="" value="" max="100" min="0">
  <br>Compétence 3 : <input type="number" name="" value="" max="100" min="0">
  <br>Compétence 4 : <input type="number" name="" value="" max="100" min="0">
  <br>Compétence 5 : <input type="number" name="" value="" max="100" min="0">
  <br>Compétence 6 : <input type="number" name="" value="" max="100" min="0">
  <br>Compétence 7 : <input type="number" name="" value="" max="100" min="0">
  <br>Compétence 8 : <input type="number" name="" value="" max="100" min="0">
  <br>Compétence 9 : <input type="number" name="" value="" max="100" min="0">
  <br>Compétence 10 : <input type="number" name="" value="" max="100" min="0">
</form>

<%-include ../partials/footer.ejs%>
