<%-include ../partials/head.ejs%>
    <%-include ../partials/navbar.ejs%>
        <div class="container mt-3">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Maquetter une application</label>
                    <input type="number" class="form-control"  placeholder="Voter entre 0 et 100">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Maquetter une application</label>
                    <input type="number" class="form-control"  placeholder="Voter entre 0 et 100">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Maquetter une application</label>
                    <input type="number" class="form-control"  placeholder="Voter entre 0 et 100">
                </div>
            </form>
        </div>
        <%-include ../partials/footer.ejs%>
